@section scripts{
<script src="~/Scripts/grid/sampleModel.js"></script>
    <script src="~/Scripts/grid/controllers/demoController.js"></script>
    

}

<div ng-controller="GridController" style="margin-top:20px">
    <hot-table></hot-table>
</div>